
body {
  background-color: #50d8d7;
  /* background-image: linear-gradient(316deg, #50d8d7 0%, #923993 74%); */
  background-attachment: fixed;

}
* {
  scroll-behavior: smooth;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient();
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19.2px;
    
  }
  
  li a:hover:not(.active) {
    background-color: #923993;
  }
  .top {
    height: 20vh;
    width: 100%;
    text-align: center;
}
.avataar img {
  float: right; 
  height: 50%;
  width:50%;   
}
.two {
  text-align:center;
}
.two h1{
  font-size: 2.5rem;
  color: white;
}
.two p{
  color: white;
  padding: 150px;
  padding-top: 50px;
  font-size: 1.6rem;
}
.two .span{
  color:black;
  font-weight: bold;
}
.two .img {
  float: right;
  height: 50vh;
  border-radius: 50%;
  margin-left: 100px;
  position: relative;
  animation: mymove 3s infinite;
  animation: mymove2 3s infinite;
  /* animation-timing-function:ease-in-out; */
}
@keyframes mymove {
  from {top: 0px;}
  to {top: 100px;}
}
@keyframes mymove2 {
  to {top: 0px;}
  from {top: 100px;}
}
.three {
  text-align:center;
  /* height:auto; */
}
.three h1,h2{
  color:white;
  font-weight: bold;
}
.three .span {
  color:black;
  font-weight: bold;
}
.three svg {
  border: 10px solid white;
  border-radius: 50%;
  background-color: white;
}
svg {
  fill: black;
}
svg:hover {
  fill: purple;
  width: 1.5em;
  height: 1.5em;
  transition: all .4s ease 0s!important;
  
}
form {
  text-align: center;
  width: 25vw;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
  font-weight: bold;
  background-image: linear-gradient( #50d8d7,#923993  );
  
}
form:hover, form:focus-within {
  margin-left: auto;
  margin-right: auto;
  width: 35vw;
  font-size: xx-large;
  font-weight: normal;
  background-image: linear-gradient( #50d8d7 ,#923993  );
  
}
input,button {
  font-family: 'Courier New', Courier, monospace;
}
.buttonA{
  padding: 10px; 
  background-image: linear-gradient(316deg, #50d8d7 10%, #923993 50%);
  border: 2px solid black;
  border-radius: 10px;
}

.buttonB {
  padding: 10px; 
  background-image: linear-gradient(100deg,#923993 20%,#50d8d7 50%);
  border: 2px solid black;
  border-radius: 10px;
}
.buttonA,.buttonB>a{
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.buttonA:hover, .buttonB:hover {
  background-image: linear-gradient(#923993 10%,#50d8d7 90%);
  
}
@media only screen and (max-width: 660px) {
  body {
    width: 100%;
  }
}
.homebuttons {
  display: inline-block;
}
.homebuttons>.buttonA{
  margin-left: 15vw;
}
.homebuttons>.buttonB{
  margin-left: 4vw;
}
